<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog dla programistow</title>
</head>
<body>
    <div>
<h1>Witam na stronie bloga!</h1>
<h2>Blog o programowaniu</h2>
<h3>Autor: Bartosz Kasperski</h3>
<h4>Wszelkie prawa zastrzezone</h4>
    </div>
    <div>
    <p>TO jest akapit</p>
<em>To jest wyrozniony tekst</em><br>
<strong>To jest pogrubiony tekst</strong><br>
<a href="https://fangol.pl">Pilka</a>
</div>
    <div>
    <ul>
    <li>Elementy listy</li>
    <li>Elementy listy</li>
    <li>Elementy listy</li>
</div>
</ul>


</body>
</html>